body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--clr-1);
  /* font-family: monospace; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* CSS Ordering
  // The Box Design
  1. Margins
  2. Border
  3. Padding

  4. HTML Content Properties
    a. Height (normal, max, min)
    b. Width  (normal, max, min)
    c. Display 
    d. Background
    e. Text (size, weight, color, shadow)
    f.
    g.

  5. Box Properties 
    a. Position
    b. Z-index
    c. box-shadow

  6. Translations
*/

/* Color Palette
Blue Grey:  #4F687F
Cool Grey:  #D7CFCD
Ebony:      #383A3D
Peach:      #FDCA90
*/

/* || General CSS Elements & Classes */

#root {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  --clr-1: #383A3D;
  --clr-2: #FDCA90;
  --clr-3: #D7CFCD;
  --clr-4: #4F687F;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  z-index: 0;
  transform: translate(0px, 105px);
}

p {
  text-align: center;
}

.submit_button {
  margin-top: 20px;
  border-radius: 5px;
  padding: 10px 20px;

  display: flex;
  text-align: center;
  justify-content: center;

  background-color: var(--clr-1);
  font-size: 15px;
  font-weight: bold;
  color: var(--clr-2);
  text-decoration: none;
  text-shadow: -1px 2px black;
}

.peach_highlight {
  font-weight: bold;
  color: var(--clr-1);
  text-shadow: -2px 2px var(--clr-2);
}

.blue_highlight {
  font-weight: bold;
  color: var(--clr-2);
  text-shadow: -2px 2px black;
}

.highlight_title {
  margin: 50px;
  border-radius: 5px;
  padding: 5px 50px;

  text-align: center;
  background-color: var(--clr-1);
  color: var(--clr-2);
  font-weight: bold;
  font-size: 40px;
  text-shadow: -3px 3px #000000;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.error_message {
  margin: 5px;
  color: #AA0000;
  font-weight: bold;
}

.loader {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color: #009578;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn)
  }

  to {
    transform: rotate(1turn)
  }
}

.notification {
  --notification-bar-width: 60vw;
  border: 2px solid var(--clr-1);
  border-radius: 4px;
  padding: 0px 10px;
  width: var(--notification-bar-width);
  display: flex;
  text-align: center;
  justify-content: center;
  /* background-color: var(--clr-3); */
  background-color: #f4d8b9;
  font-weight: bold;
  color: black;
  position: fixed;
  left: calc(50vw - (var(--notification-bar-width) / 2));
  bottom: 10px;
  animation: notification 0.5s ease-out both;
}

.notification-in {
  animation-name: add-notification;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}

.notification-out {
  animation-name: remove-notification;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
}

@keyframes add-notification {
  from {
    transform: translateY(100px);
  }

  to {
    transform: translateY(0px);
  }
}

@keyframes remove-notification {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(100px);
  }
}

.disclaimer-box {
  margin: 0px 10vw 10px 10vw;
  border: 1px solid var(--clr-3);
  border-radius: 5px;
  padding: 20px;
  flex-wrap: no;
  /* box-shadow: 2px 2px -10px black; */
}

.disclaimer{
  /* padding: 0px 10vw; */
  font-size: 17px;
  text-align: center;

}

.spacer {
  width: 100vw;
  overflow: hidden;
  aspect-ratio: 2000/200;
  background-repeat: repeat-x;
  background-size: auto;
}

.winner_box_top {
  height: 150px;
  background-position: bottom;
  background-image: url('../assets/winner_box_top_21.svg');
}

.winner_box_bottom {
  height: 150px;
  background-position: top;
  background-image: url('../assets/winner_box_bottom_21.svg');
} 


.centered-text-box {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.centered-text-box p {
  margin: 5px 4px;
}

/* || BANNER */

/* #banner {
  padding: 0px 20px;
  width: calc(100vw - 40px);
  display: flex;
  align-items: center;
  background-color: var(--clr-1);
  position: fixed;
  top: 0%;
  z-index: 1;
}

#logo_div {
  width: 25%;
  min-width: 200px;
}

#logo {
  margin: 10px 10px 10px 0px;
  height: 83px;
  width: 200px;
}

#menu {
  width: 50%;
  flex-wrap: wrap;
}

#menu a {
  margin: 0px 10px;
  padding: 10px;
  font-size: 20px;
  color: var(--clr-2);
  text-decoration: none;
  text-shadow: -2px 2px #000000;
}

#banner_user_div {
  width: 25%;
  min-width: 100px;
  display: flex;
  justify-content: right;
  position: relative;
}

#banner_user {
  flex-wrap: wrap;
}

#banner_user a {
  margin: 0px 20px;
  border: 2px solid black;
  border-radius: 50%;

  height: 50px;
  width: 50px;
  background-color: #FFFFFF;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

#banner_login {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.banner_button {
  margin: 3px 5px;
  border-radius: 2px;
  height: 40px;
  width: 70px;
  font-size: 15px;
  text-decoration: none;
  cursor: pointer;
}

#banner_login_button,
#banner_logout_button {
  background-color: var(--clr-3);
}

#banner_signup_button {
  background-color: #FFFFFF;
  text-wrap: nowrap;
} */


/* || STAT System */

/* Winner Box */
 /*
#stat_awards {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
}

#winner_box {
  padding: 30px 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-1);
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
}

#stat_winner {
  font-size: 40px;
  text-shadow: -3px 3px #000000;
}

.winner_name {
  font-weight: bold;
  color: var(--clr-2);
  text-shadow: -2px 2px #000000;
}

#hydration_winner,
#sunscreen_winner,
#breakfast_winner {
  width: 300px;
  display: flex;
  justify-content: space-between;
}
*/

/* .spacer {
  width: 100vw;
  overflow: hidden;
  aspect-ratio: 2000/200;
  background-repeat: repeat-x;
  background-size: auto;
}

.winner_box_top {
  height: 150px;
  background-position: bottom;
  background-image: url('../assets/winner_box_top_21.svg');
}

.winner_box_bottom {
  height: 150px;
  background-position: top;
  background-image: url('../assets/winner_box_bottom_21.svg');
}  */

/* Stats Form */

/* #submit_form {
  margin: 30px 0px;
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#hydration,
#meals,
#sleep,
#sunscreen {
  margin: 15px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  box-shadow: 2px 2px 5px black;
}

#hydration_question,
#meals_question,
#sleep_question,
#sunscreen_question {
  border: 1px solid black;
  border-radius: 5px 0px 0px 5px;
  padding: 15px;

  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
} */

/** Hydration Question **/

/* #hydration_chart {
  display: flex;
  flex-wrap: wrap;
  border: none;
}

.hydration_color {
  margin: 5px 0px;
  height: 60px;
  width: 60px;
}

.hydration_entry {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hydration_entry p {
  margin: 5px 0px;
  width: 150px;
  text-align: center;
} */

/** Meals Question **/

/* #meals_row {
  display: flex;
  flex-direction: column;
}

.meal_entry {
  margin: 5px 0px;
  width: 160px;
  display: flex;
  justify-content: space-between;
} */

/** Final Scoring **/

/* #scoring {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stat_score_box {
  border: 1px solid black;
  border-left: 0px solid black;
  border-radius: 0px 5px 5px 0px;
  padding: 10px;

  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#stats_submit_button {
  border-radius: 5px;
  padding: 10px 20px;

  display: flex;
  text-align: center;
  justify-content: center;

  background-color: var(--clr-1);
  font-size: 15px;
  font-weight: bold;
  color: var(--clr-2);
  text-shadow: -1px 2px black;
}

#stats_submit_button:hover {
  cursor: pointer;
}

#score_title {
  margin: 0px 10px;
}

#scoring_points {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#final_score {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;

  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--clr-1);
  box-shadow: 2px 2px 5px black;
} */


/* Stats Timer */

/* #stat_timer_section {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-weight: bold;
  color: #FFFFFF;
  background-color: var(--clr-1);
}

#stat_timer {
  width: 260px;
  display: flex;
  justify-content: space-between;

}

#stat_timer div {
  border: 2px solid #FFFFFF;
  padding: 10px;

  width: 50px;
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: black;

  font-size: 40px;
  font-weight: bold;
  color: var(--clr-2)
}

#stat_calendar {
  margin-bottom: 20px;
  border-radius: 5px;
  width: 70vw;
  height: 200px;
  background-color: #eeeeee;
  box-shadow: 2px 2px 5px var(--clr-3);
} */


/*  || Registration */
/* 
.user_form {
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 30px;

  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  box-shadow: 2px 2px 5px black;
}

.form_input_margin {
  margin-top: 25px;
}

#registration_form input,
#login_form input {
  height: 25px;
}

#registration_form label,
#login_form label {
  margin-bottom: 10px;
}

#registration_requirements {
  color: grey;
}

.user_form_reminders {
  margin-bottom: 30px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 30px;

  width: 400px;
  flex-direction: column;
  box-shadow: 2px 2px 5px black;
} */


/* || User Profile */

/* User Info */

/* #user_profile_stat {
  border-radius: 3px;
  padding: 0px 20px;
  display: flex;
  background-color: var(--clr-1);

}

#user_stat_indicator {
  margin-left: 30px;
  color: #009900;
}

#user_info {
  --user-profile-width: 35vw;
  padding: 20px 0px;
  width: 100vw;
  display: flex;
}

#user {
  margin: 40px;
  align-items: start;
  width: var(--user-profile-width);
}

#user_profile {
  border-radius: 5px;
  padding: 40px;

  flex-direction: column;
  background-color: var(--clr-1);
}

#profile_picture {
  --user_length: 120px;
  border: 3px solid black;
  border-radius: 50%;
  height: var(--user_length);
  width: var(--user_length);
  font-size: 40px;
  font-weight: bold;
  background-color: #FFFFFF;

}

#profile_username {
  margin: 20px 0px 10px 0px;
  font-size: 30px;
  font-weight: bold;
}

#profile_year {
  margin: 0px;
  font-weight: bold;
  color: white
}

#user_stats {
  margin: 40px;
  width: calc(100vw - var(--user-profile-width));
  display: flex;
  flex-direction: column;
  align-items: center;
}

#user_stats tr {
  display: flex;
  justify-content: space-between;
}

#user_stats td {
  padding: 20px;
}

.user_stat_row {
  border-collapse: collapse;
  border-bottom: 1px solid black;
}

/* User Reviews */

/* #user_reviews {
  width: 100%;
}

#user_review_table {
  margin: 30px;
  width: 80%;
  border-top: 1px dashed black;
}  */